@import "tailwindcss";

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
}